.budget h3 {
  font-family: 'Yapari-trial';
  text-align: start;
}

.budget .image-wrapper {
  background-image: url(./../../Images/black-rectangle.png);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.budget .image-wrapper h3 {
  font-size: 2.2rem;
  font-family: 'Yapari-trial';
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.budget .image-wrapper span {
  color: white;
}

.money-back {
  margin-top: 50px;;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 50px;
}

.money-back-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Yapari-trial';
}

.money-back .money-back-text .title {
  font-size: 48px;
  text-align: center;
}

.money-back .money-back-text .sub-title {
  font-size: 22px;
  color: rgba(26, 26, 26, 0.6);
  text-align: center;
}

.contact-us {
  margin-top: 50px;
}

.contact-us-title {
  font-family: 'Yapari-trial';
  text-align: center;
  margin: 20px;
  font-size: 15px;
}

.social-media {
  align-items: center;
  justify-content: center;
}

.social-media img {
  height: 97px;
  width: 97px;
}

.social-media .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.media-link {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width:991px) {
  .budget .image-wrapper h3 {
    font-size: 1.5rem;
  }
}

@media (max-width:575px) {
  .budget .image-wrapper {
    height: 300px;
    width: 300px;
    margin: 30px auto;
  }

  .money-back .money-back-text .title {
    font-size: 40px;
  }
  
  .money-back .money-back-text .sub-title {
    font-size: 22px;
  }
}